
.container-fluid{
    padding: 0;
    overflow-x: hidden;
   
}
.header {
    /* gives the header a gradient background */
    background: rgb(0, 0, 0);
    color: white;
    padding-bottom: 2px;
  }
  
h1 {
font-family: 'Special Elite', cursive;    font-size: 30px;
    padding-top: 4px;
  }

.card {
    /*animates card elements*/
    margin: 3%;
    width: 20rem;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-in-out;
    background:black;
    color:white;
  }

.card:hover {
    /* animates card motion on hover */
    transform: translateY(-7px);
  }
  
  
  .cards {
    /*allows for cards to append side by side*/
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
    
  }
  .blockquote {
    font-size: 1rem;
    color:white;
  }